.all-memes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .meme-card {
    margin: 25px;
  }
  
  .edit-url-image{
     height: 300px;
     /* width: 150px;  */
  }
  .btn{
    margin: 5px;
  }
.save{
    background-color: rgb(14, 197, 14);
}